// Place all the styles related to the admins::contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.contact-main-box{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.contacts-contents{
	width: 70%;
	height: 500px;
	margin: 10px;
	overflow: scroll;
	/*margin: 0 auto;*/
	/*flex-grow: 3;*/
	/*justify-content: center;*/
	/*background-color: silver;*/
}
.scroll{
	/*overflow: scroll;*/
}
.contact-sort-box{
	width: 300px;
	height: 300px;
	border: solid 1px;
	margin: 10px;
	border-radius: 5px;
	/*background-color: orange;*/
	/*display: inline-block;*/
	/*flex-grow: 1;*/
	/*justify-content: center;*/
}
/*------------------------問い合わせ詳細-----------------------------*/
.contact-show-box{
	width: 100%;
}
.contact-head-info{
	width: 60%;
	height: 100px;
	margin: 10px auto;
	border: solid 1px;
	border-radius: 5px;
}
.border-bottom{
	border-bottom: solid 1px;
}
.contact-body-box{
	width: 60%;
	height: 200px;
	margin: 10px auto;
	border: solid 1px;
	border-radius: 5px;
	overflow: scroll;
}
.respons-form{
	width: 60%;
	height: 200px;
	margin: 10px auto;
	border: solid 1px;
	border-radius: 5px;
}
.contact-submit-button{
	width: 60%;
	margin: 0 auto;
}