// Place all the styles related to the admins/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.border-solid-1{
	border: solid 1px;
	border-radius: 5px;
}
.user-infomation{
	width:90%;
	margin: 0 auto;
	border: solid 1px;
	border-radius: 5px;
	padding: 20px;
}
.order-infomation{
	width: 90%;
	margin: 0 auto;
}
.order-show-user-box{
	width: 300px;
	height: 200px;
	border: solid 1px;
	margin: 10px;
	border-radius: 5px;
}
.border-bottom{
	width: 100%;
	padding:10px;
	border-bottom: solid 1px;
	display: flex;
	flex-direction: row;
}
.order-info2{
	width: 200px;
	justify-content: space-between;
}
.order-status2{
	width: 300px;
	justify-content: space-between;
}
.admin-product-show-total{
	display: flex;
	flex-direction: row;
	/*background-color: silver;*/
}
.address-box{
	justify-content: space-between;
	width: 50%;
	border: solid 1px;
	border-radius: 5px;
}
.total-box{
	justify-content: space-between;
	width: 50%;
  	border: solid 1px;
	border-radius: 5px;
	font-size: 20px;
	padding: 20px;
}

/*--オーダー一覧--*/
.ad-order-index-box {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.order-index-box {
	width: 70%;
	margin: 10px;
}
.extraction-box {
	width: 30%;
	margin: 10px;
}
.search-id-box {
	margin-top: 30px;
}
.status-box {
	margin-top: 30px;
}