// Place all the styles related to the admins/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a:link{
	color: #CC99CC;
	text-decoration: none;
}
a:hover{
	color: #CC99CC;
	text-decoration: underline overline;
}

.border-solid-1{
	border: solid 1px;
}
.user-infomation{
	width: 90%;
	margin: 0 auto;
	border: solid 1px;
	padding: 20px;
}
.order-infomation{
	width: 90%;
	margin: 0 auto;
}
.order-show-user-box{
	width: 300px;
	height: 200px;
	border: solid 1px;
	margin: 10px;
	border-radius: 5px;
}
.border-bottom{
	border-bottom: solid 1px;
}
.admin-product-show-total{
	display: flex;
	flex-direction: row;
	background-color: silver;
}
.address-box{
	justify-content: space-between;
	width: 50%;
}
.total-box{
	justify-content: space-between;
	width: 50%;
}

/*--オーダー一覧--*/
.ad-order-index-box {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.order-index-box {
	width: 70%;
	margin: 10px;
}
.extraction-box {
	width: 30%;
	margin: 10px;
	postion: relative;
}
.search-id-box {
	margin-top: 30px;
}
.status-box {
	margin-top: 30px;
}
.box_for_position {
	position: fixed;
	margin-left: 40px;
}