.new-product {
	margin: 30px;
}
.form-horizontal {
	margin: 30px;
}


/*--商品一覧--*/

/*	border: solid 1px;
	border-radius: 5px;
	background-color: silver;*/

.ad-product-index-box {
	width: 90%;
	margin: 30px auto;
	display: flex;
	justify-content: center;
}
.ad-page-title {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
}
.ad-title-btn {
	width: 150px;
	text-align: center;
	margin: 20px auto;
	border-radius: 30px; /*角の丸み*/
 	background-color: #EEEEEE; /* 背景色 */
 	padding: 20px;
 	font-size: 16px;
}
.ad-tbl-title {
	font-size: 18px;
/*	position: relative;
	display: inline-block;*/
	margin-top: 30px;
	margin-right: 60%;
	padding-left: 10%;
	padding-bottom: 5px;
	border-bottom: solid 2px;
}
/*.ad-tbl-top:before {
	content: '';
	position: absolute;
	left: 300%;
	bottom: -5px;
	display: inline-block;
	width: 800px;
	border-radius: 2px;
}*/
.ad-board-title {
	font-size: 18px;
	margin: 30px 120px 5px 50px;
	padding-bottom: 5px;
	border-bottom: solid 2px;
}
.ad-ransack-box {
	width: 20%;
	margin: 10px;
	position: relative;
}
.box-for-position2 {
	position: fixed;
	margin-left: 40px;
	padding: 10px 10px 10px 30px;
	border: solid 1px;
	border-radius: 50px;
}
.ad-new-btn {
	margin-top: 30px;
}

/*--商品編集--*/
.edit-product {
	margin: 30px;
}
.ad-album-title {
	font-size: 22px;
}

/*--商品詳細--*/
.ad-pro-show-box {
	position: relative;
	width: 80%;
	margin: 60px auto;
	display: flex;
	flex-direction: row;
}
.ad-product-info-box {
	width: 70%;
	margin: 10px;
	border: solid 1px;
	border-radius: 5px;
}
.sub-info-box {
	width: 30%;
	margin-left: 30px;
}

.admin-edit-delete-button{
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.admin-edit-button{
	margin: 5px;
}
.admin-delete-button{
	margin: 5px;
}
.admin-product-img{
	background-color: silver;
}
.admin-subtitles{
	border-bottom: solid 1px;
	font-size: 20px;
}
.admin-product-show-quantity-box{
	height: 200px;
	margin: 10px;
	border: solid 1px;
	border-radius: 5px;
}
.nearest-orders{
	height: 380px;
	margin: 10px;
	border: solid 1px;
	border-radius: 5px;
}