.new-product {
	margin: 30px;
}
.form-horizontal {
	margin: 30px;
}


/*--商品一覧--*/
/*.main-box{
	width: 100%;
}*/

/*	border: solid 1px;
	border-radius: 5px;
	background-color: silver;*/

.ad-pro-index-box{
	width: 80%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	margin: 10px;
}

/*--商品編集--*/
.edit-product {
	margin: 30px;
}


/*--商品詳細--*/
.admin-product-show{
	width: 100%;
}
.header-title{
	width: 70%;
	margin: 0 auto;
}
.admin-edit-delete-button{
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.admin-edit-button{
	margin: 5px;
}
.admin-delete-button{
	margin: 5px;
}
.admin-product-show-main-box{
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}
.admin-product-info{
	width: 70%;
	height: 600px;
	border: solid 1px;
	border-radius: 5px;
	margin: 10px;
	/*margin-bottom: 10px;*/
}
.admin-product-img{
	width: 100px;
	height: 100px;
	background-color: silver;
}
.admin-subtitles{
	border-bottom: solid 1px;
	font-size: 20px;
}
.sub-info{
	width: 30%;
	height: 500px;
}
.admin-product-show-quantity-box{
	height: 200px;
	margin: 10px;
	border: solid 1px;
	border-radius: 5px;
}
.nearest-orders{
	height: 380px;
	margin: 10px;
	border: solid 1px;
	border-radius: 5px;
}