
/*--new--*/
.new-product-form {
	margin-top: 30px;
	margin-left: 50px;
}
.add-new-discs {
	margin-right: 50px;
}


/*--edit--*/
.new-product-form:after {
	display: block;
	clear: both;
	content: "";
}

/*--index--*/
.ad-page {
	width: 90%;
	margin: 0 auto;
}
.ad-index-box {
	width: 90%;
	margin: 30px auto;
	display: flex;
	justify-content: center;
}
.ad-index-inner {
	width: 80%;
	margin: 0px auto;
	padding-bottom: 30px;
	border: solid 1px;
	border-radius: 50px;
/*	display: flex;
	flex-direction: row;*/
	justify-content: center;
}
.ad-tbl-title {
	font-size: 18px;
/*	position: relative;
	display: inline-block;*/
	margin-top: 30px;
	margin-right: 70%;
	margin-bottom: 10px;
	padding-left: 10%;
	padding-bottom: 5px;
	border-bottom: solid 2px;
}
.ad-board-title {
	font-size: 18px;
	margin: 30px 120px 5px 50px;
	padding-bottom: 5px;
	border-bottom: solid 2px;
}
.ad-ransack-box {
	width: 20%;
	margin: 100px 10px;
	position: relative;
}
.box-for-position2 {
	position: fixed;
	margin-left: 20px;
	padding: 10px 10px 10px 30px;
	border: solid 1px;
	border-radius: 50px;
}
.ad-new-btn {
	margin-top: 30px;
	margin-bottom: 10px;
}
.add-new-product {

}


/*--show--*/
.ad-pro-show-box {
	position: relative;
	width: 80%;
	margin: 60px auto;
	display: flex;
	flex-direction: row;
}
.ad-pro-info-box {
	width: 70%;
	margin: 10px;
}
.ad-pro-info-inner {
	padding-bottom: 30px;
	border: solid 1px;
	border-radius: 50px;
}
.ad-pro-info {
	margin-left: 80px;
}
.ad-album-title {
	font-size: 22px;
}
.ad-pro-show-btn {
	width: 80%;
	margin: 0 auto;
}
/*.admin-edit-button{
	margin: 5px;
}
.admin-delete-button{
	margin: 5px;
}*/
.ad-sub-info-box {
	width: 30%;
	margin-top: 50px;
	margin-left: 30px;
}
.ad-pro-qty-box {
/*	height: 200px;*/
	margin: 10px;
	padding-bottom: 10px;
	border: solid 1px;
	border-radius: 50px;
}
.ad-sub-info-inner {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.ad-recent-orders {
	height: 380px;
	margin: 10px;
	padding-bottom: 10px;
	border: solid 1px;
	border-radius: 50px;
}
.ad-tbl-title5 {
	font-size: 18px;
/*	position: relative;
	display: inline-block;*/
	margin-top: 30px;
	margin-right: 30%;
	margin-bottom: 10px;
	padding-left: 10%;
	padding-bottom: 5px;
	border-bottom: solid 2px;
}