<div class="new-product">
  <h1>ディスクナンバー追加</h1>

    <div class="container">

        <%= form_for @disc, url: admins_create_disc_path(@product.id)  do |f| %>

        <div class="form-group">
          <%#= f.nested_fields_for :discs do |disc| %>
              <%= f.text_field :disc_number, placeholder:"ディスクNo.", :size => "20" %>
          <%# end %>
        </div>

        <div class="action">
            <div class="submit"><%= f.submit '登録', class:"btn btn-default ml10" %></div>
        </div>
        <% end %>



    </div>
</div>

