<section class="main-box">
<div class="search-box">
	<p class="search-form"><input type="search" name="search-form" placeholder="検索"></p>
</div>
<div class="contents-box">
	<p class="page-title">送付先住所の選択</p>
	<div class="send-user-address">
		<span>ユーザー情報登録時の住所を表示</span><span class="btn btn-primary">この住所に送る</span>
			<p>〒193-0006<br>東京都府中市緑町３−１６−５<br>クワトロ２０５</p>
	</div>
	<div class="change-send-address">
		<span>送り先住所を変更する</span><span class="btn btn-primary">この住所に送る</span>
	</div>
</div>

</section>