<head>
	<title>購入決定後</title>
</head>
<section>
	<div class="search-box">
		<div class ="container">
			<p class="col-lg-4"></p>
			<p class="col-lg-4 search-form"><input class="form-control" type="search" name="search-form" placeholder="検索"></p>
			<p class="col-lg-4"></p>
		</div>
	</div>
	<div class="main-box">
			<div class="thanks-icon">
				<%= image_tag 'thanks-logo.png', :size => "200x200"%>
				<!-- <img src="assets/thanks-logo.png" alt=""> -->
				<div><font size="10">Thank you！</font></div>
			</div>
		<div class="message-box">
			<div class="tanks">
				<font size="5">ご注文が確定されました。<br>ありがとうございました。</font>
			</div>
			<div class="order-info">
				<font size="4"><p class="order-number">注文番号：<%= @order.id %></p></font>
				<p class="order-list"></p>
			</div>
		</div>
		<div class="buttons">
			<%= link_to products_path(@user) do %>
			<p class="btn btn-primary header-buttons">Home</p>
			<% end %>
			<%= link_to mypage_user_path(@user) do %>
            <p class="btn btn-default header-buttons">買い物を続ける</p>
            <% end %>
		</div>
	</div>
</section>