<head>
	<title>Contact-form-page</title>
</head>
	<section class="view-contact-box">
		<div class="mail-icon">
			<div class="">
				<i class="icon far fa-envelope fa-3x"></i>
			</div>
			<p class="page-title">Contact</p>
		</div>
		<div class="contact-contents">
		<p class="">下記のご注文について</p>
			<div class="contact-info">
				<div class="col-lg-4">購入日 : 年　月　日</div>
				<div class="col-lg-4"></div>
				<div class="col-lg-4"><font>合計￥</font></div>
				<div class="contents-box">
	<!-- ここからeach do -->
					<div class="conteinar">
						<div class="p-img-contact">img</div>
							<div class="col-lg-12 p-info">info</div>
							<div class="col-lg-6 p-qty">qty</div>
							<div class="col-lg-6 p-price">price</div>
					</div>
	<!-- ここまでeach do -->
	<!-- 試しに繰り返し記述 -->
					<div class="conteinar">
						<div class="p-img-contact">img</div>
							<div class="col-lg-12 p-info">info</div>
							<div class="col-lg-6 p-qty">qty</div>
							<div class="col-lg-6 p-price">price</div>
					</div>
					<div class="conteinar">
						<div class="p-img-contact">img</div>
							<div class="col-lg-12 p-info">info</div>
							<div class="col-lg-6 p-qty">qty</div>
							<div class="col-lg-6 p-price">price</div>
					</div>
	<!-- ------------- commit-test-->
				<div class="col-lg-4"></div>
				<div class="col-lg-3" align="right">
				</div>
				<p class="col-lg-1"></p>
				</div>
			</div>
		</div>
	</section>
	<section class="post-contact-box">
		
		お問い合わせ内容
	</section>