<%= render 'admins/users/header'  %>

<div class="contact-show-box">箱
	<div class="contact-head-info">
		注文概要
	</div>
	<div class="contact-body-box">
		問い合わせ本文
	</div>
	<div class="respons-form">
		回答フォーム
	</div>
	<div class="contact-submit-button">
		送信ボタン
	</div>
</div>