
<head>
	<title>カート内商品一覧</title>
</head>
<section>
	<div class="search-box">
		<div class ="container">
			<p class="col-lg-4"></p>
			<p class="col-lg-4 search-form"><input class="form-control" type="search" name="search-form" placeholder="検索"></p>
			<p class="col-lg-4"></p>
		</div>
	</div>
	<div class="main-box">
		<div class="cart-item-box">
			<!-- ここからeach do -->
			<%= form_for @cart_item, url: orders_create_address_path, method: :post do |f| %>
			<table class="cartlist">
				<thead>
					<tr>
						<td class="p-img">product.image-url</td>
						<td class="p-info">product.album_title<br>
											product.artist<br>
						</td>
						<td class="p-qty">
							<input class="form-control" value="1" min="1" max="30" type="number" name="cart_item[quantity]" id="cart_item_quantity">
						</td>
						<td class="p-price">product.price</td>
						<%= link_to carts_delete_item_path, method: :delete do %>
							<td class="p-button"><button class="">削除</button></td>
						<% end %>
					</tr>
				</thead>
			</table>
			<% end %>
			<!-- ここまでeach do -->
			<table class="cartlist">
				<thead>
					<tr>
						<td class="p-img">img</td>
						<td class="p-info">info</td>
						<td class="p-qty">qty</td>
						<td class="p-price">price</td>
						<td class="p-button"><button class="">削除</button></td>
					</tr>
				</thead>
			</table>
			<table class="cartlist">
				<thead>
					<tr>
						<td class="p-img">img</td>
						<td class="p-info">info</td>
						<td class="p-qty">qty</td>
						<td class="p-price">price</td>
						<td class="p-button"><button class="">削除</button></td>
					</tr>
				</thead>
			</table>
			<table class="cartlist">
				<thead>
					<tr>
						<td class="p-img">img</td>
						<td class="p-info">info</td>
						<td class="p-qty">qty</td>
						<td class="p-price">price</td>
						<td class="p-button"><button class="">削除</button></td>
					</tr>
				</thead>
			</table>
			<div class="row cash-button">
				<div class="col-lg-4"></div>
				<div class="col-lg-3" align="right">
				<font>小計￥</font>
				</div>
				<%= link_to orders_select_address_path do%>
					<button class=" col-lg-2 btn btn-danger btn-ms">レジに進む（送付先選択）</button>
				<% end %>
				<button class=" col-lg-2 btn btn-ms">カートを空にする</button>
				<p class="col-lg-1"></p>
			</div>
		</div>
	</div>
</section>