
<head>
	<title>cart_show</title>
</head>
<section>
	<div class="search-box">
		<div class ="container">
			<p class="col-lg-4"></p>
			<p class="col-lg-4 search-form"><input class="form-control" type="search" name="search-form" placeholder="検索"></p>
			<p class="col-lg-4"></p>
		</div>
	</div>
	<div class="main-box">
		<div class="cart-item-box">
			<!-- ここからeach do -->
			<table class="cartlist">
				<thead>
					<tr>
						<td class="p-img">img</td>
						<td class="p-info">info</td>
						<td class="p-qty">qty</td>
						<td class="p-price">price</td>
						<td class="p-button"><button class="">削除</button></td>
					</tr>
				</thead>
			</table>
			<!-- ここまでeach do -->
			<table class="cartlist">
				<thead>
					<tr>
						<td class="p-img">img</td>
						<td class="p-info">info</td>
						<td class="p-qty">qty</td>
						<td class="p-price">price</td>
						<td class="p-button"><button class="">削除</button></td>
					</tr>
				</thead>
			</table>
			<table class="cartlist">
				<thead>
					<tr>
						<td class="p-img">img</td>
						<td class="p-info">info</td>
						<td class="p-qty">qty</td>
						<td class="p-price">price</td>
						<td class="p-button"><button class="">削除</button></td>
					</tr>
				</thead>
			</table>
			<table class="cartlist">
				<thead>
					<tr>
						<td class="p-img">img</td>
						<td class="p-info">info</td>
						<td class="p-qty">qty</td>
						<td class="p-price">price</td>
						<td class="p-button"><button class="">削除</button></td>
					</tr>
				</thead>
			</table>
			<div class="row cash-button">
				<div class="col-lg-4"></div>
				<div class="col-lg-3" align="right">
				<font>小計￥</font>
				</div>
				<button class=" col-lg-2 btn btn-danger btn-ms">購入手続きへ</button>
				<button class=" col-lg-2 btn btn-ms">カートを空にする</button>
				<p class="col-lg-1"></p>
			</div>
		</div>
	</div>
</section>