/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

	@import "bootstrap-sprockets";
	@import "bootstrap";

	/*フォント*/
	@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');


/*================================================*/
*{
	/*color: rgba(255, 255, 255, 0.8);
	background-color: #202020;*/
	font-family: Didact+Gothic;
}
td{
	margin-top: 40px;
	padding: 40px;
}
header{
	width: 100%;
	height: 100px;
	/*background-color:black;*/
	/*position: fixed;*/
}
footer{
	width: 100%;
	height: 150px;
	background-color:black;
}
.headline{
	padding: 20px;
}
.header-buttons{
	margin: 10px;
	border: solid 2px;
/*	border-color: silver; */
	border-radius: 20px;
}

.search-box{
	width: 100%;
	height: 200px;
/*	background-color: silver;*/
	/*margin-top: 50px;*/
	background-image: url(top-page-img2.jpg);
}
.page-title{
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
}
