/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

	@import "bootstrap-sprockets";
	@import "bootstrap";

	/*フォント*/
	@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');


.carousel-control.left{
	background-image: transparent!important;
	background-color: transparent!important;
}

.logo{
	width:100px;
}
.header-buttons{
	margin: 10px;
	border: solid 2px;
	/*border-color: silver;*/
	border-radius: 20px;
}
.navbar {
	margin-bottom: 0px;
}
.circle-style{
	border-radius: 50%;
}
/*================================================*/
*{
	/*color: rgba(255, 255, 255, 0.8);
	background-color: #202020;*/
	font-family: Didact+Gothic;
	font-weight: lighter;
}
.user-inverse{
	color: rgba(255, 255, 255, 0.9);
	background-color: black;
}
body{
	margin-top: 80px;
}
td{
	margin-top: 40px;
	padding: 25px;
}
.container-fruid {
	width: 100%;
	height: 60px;
	/*position: fixed;
    top: 0px;
    left: 0px;*/
}
footer{
	width: 100%;
	height: 130px;
	background-color:black;
	/*position: fixed;*/
    bottom: 0px;
    left: 0px;
    clear: both;
    display: block;
}
.flash-message{
	margin-top: 10px;
}
.fab{
	margin: 5px;
}
.sns-icons{
	color: silver;
	width: 200px;
	text-align: center;
	padding-top: 20px;
}
.top-contents-box{
	width: 50%;
	/*position: absolute;*/
	padding-top: 130px;
}
.search-bar{
	width: 100%;
	/*opacity: 0;*/
	border-radius: 30px;
}
.search-bar-border{
	display: flex;
	flex-direction: row;
	width: 90px;
	margin: 0 auto;
	border: solid 1px white;
	border-radius:30px;
	background-color: rgba(255, 255, 255, 0);
	transition: width 200ms, border 200ms;
}
.search-bar-border:hover{
	width: 300px;
}

.start-search-button{
	border-radius: 30px;
	background-color: rgba(255, 200, 255, 0.4);
	border: none;
}
.bpm-box{
	width: 280px;
	margin: 0 auto;
}
.bpm-search-box{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 280px;
	/*border: solid 1px white;*/
	border-radius: 50px;
	padding: 10px;
	/*background-color: rgba(255, 150, 255, 0.4);*/
	box-shadow: 0px 0px 100px 00px rgba(255, 150, 255, 0.4);
}
.bpm-select-range{
	background-color: transparent;
}
.flex-end{
	justify-content: flex-end;
}
.bpm-range-box{
	width:100px;
	display: flex;
}
.bpm-range{
	border: none ;
	background-color: rgba(255,200,255,0.2);
	border-radius: 30px;
}
.start-button{
    width: 100px;
    height: 100px;
    /*background-color: transparent;*/
    margin: 0 auto;
    /*border: solid 2px;*/
    border-radius: 40px;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
	text-align: center;
	background-color: rgba(255, 200, 255, 0.4);
	transition: padding 200ms, background-color 200ms;
}
.start-button:hover{
	padding:15px 100px;
	color: white;
	background-color: rgba(255, 255, 255, 0.2);
}
.start-button-center{
	width:50%;
	margin: 170px auto;
    text-align: center;
}

.headline{
	padding: 5px;
}
.header-buttons{
	margin: 10px;
	border: solid 2px;
	/*border-color: silver;*/
	border-radius: 20px;
}

.percial-main-box{
	padding-top: 90px;
	width: 60%;
	margin: 0 auto;
}
.search-box{
	width: 100%;
	height: 200px;
/*	background-color: silver;*/
	/*margin-top: 50px;*/
	background-image: url(top-page-img3.jpg);
	background-size: cover;
}
.page-title{
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
}
.alert-few{
	color: orange;
	font-weight: bold;
}
.alert-zero{
	color: red;
	font-weight: bold;
}



.left.carousel-control{
		background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0001) 0%);
}
.right.carousel-control{
		background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0001) 0%);
}
.glyphicon-chevron-left:before{
	color: rgba(255, 200, 255, 0.7);
}
.glyphicon-chevron-right:before{
	color: rgba(255, 200, 255, 0.7);
}
