// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/










.view-contact-box{
	background-color: #202020;
	width: 100%;
	margin: 0 auto;
}
.mail-icon{
	padding-top: 30px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
.icon{
	border: solid 5px rgba(255, 255, 255, 0.8);
	border-radius: 50%;
	padding: 20px;
}
.contact-contents{
	width: 70%;
	margin: 0 auto;
	border: solid 1px;
	border-radius: 10px;
}
.contact-info{
	margin: 0 auto;
	width: 98%;
	background-color: #202020;
	border-top: solid 1px;
	/*border: solid 2px;
	border-radius: 5px;*/
}
.contents-box{
	/*width: 90%;*/
	margin: 10px auto;
	padding: 20px 0px 20px 0px;
}
.p-img-contact{
	width: 150px;
	height: 150px;
	background-color: pink;
}
.conteinar{
	padding-bottom: 20px;
	margin-bottom: 50px;
}
.post-contact-section{
	width: 100%;
}
.contact-title{
	width: 70%;
	margin: 0 auto;
	background-color: #202020;
}
.contact-box{
	width: 70%;
	margin: 0 auto;
	background-color: #202020;
	border: solid 1px;
	border-radius: 10px;
	padding-top: 20px;
}
.contact-forms{
	width: 98%;
	margin: 0 auto;
}
.textarea{
	width: 80%;
	margin: 0 auto;
}
.contact-submit-button{
	margin: 20px;
	text-align: right;
}
