// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



*{
	/*color:white;*/
}

.main-box{
	width: 95%;
	/*text-align: center;*/
	
}
.search-box{
	width: 100%;
	height: 150px;
	/*background-color: silver;*/
	/*margin-top: 50px;*/
	/*background-image: url(beatplay_top_img.jpg);*/
}
.search-form{
padding-top: 60px;
text-align: center;
}
.contents-box{
	width: 60%;
	margin: 0 auto;
}
.page-title{
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
}
.user-address{
	text-align:left;
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}
.user-address2{
	width:500px;
	margin: 0 auto;
	text-align: left;
}
.user-address3{
}
.send-user-address{
	text-align: center;
	width:70%;
	margin: 10px 30px 10px 30px;
	background-color: black;
	border-radius: 10px;
	margin: 30px auto;
	border: solid 1px;
}
.change-send-address{
	text-align: center;
	width:70%;
	margin: 10px 30px 10px 30px;
	/*background-color: rgba(255, 255, 255, 0.8);*/
	border-radius: 10px;
	margin: 0 auto;
}
.form-box{
	width: 90%;
	margin: 0 auto;
}
.container{
	padding-bottom: 40px;
}
.main-box{
	width: 100%;
}
.thanks-icon{
	width: 70%;
	margin: 0 auto;
	text-align: center;
	color: white;
	padding: 10px 0px 0px 10px;
}
.message-box{
	width: 70%;
	margin: 0 auto;
	border: solid 1px;
	border-radius: 10px;
}
.buttons{
	width: 70%;
	margin: 0 auto;
	text-align: right;
}
/*---------------購入確認画面(orders/confirm.html.erb)にて使用中-------------------*/

.confirm-main-box{
	width: 100%;
	/*background-color: #202020;*/
}
h2{
	text-align: center;
	padding-bottom: 20px;
	color: orange;
}
.orders-box{
	width: 70%;
	height: 300px;
	margin: 0 auto;
	border: solid 1px;
	border-radius: 5px;
	padding: 60px 20px;
	/*overflow: scroll;*/
}
.product-info{
	float: none;
	padding: 30px;
}
.check-addres{
	width: 70%;
	margin: 0 auto;
	border: solid 1px;
	border-radius: 5px;
	text-align: center;
}
.total-money{
	border: solid 1px;
	border-radius: 5px;
	width: 300px;
	/*margin: 0 auto;*/
	padding: 20px;
	/*text-align: right;*/
}
.buttons-box{
/*text-align: right;*/
}
.view-total-box{
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
/*購入を確定*/
.decision-button{
	width: 70%;
	margin: 0 auto;
	padding: 30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.jacket-image{
	float: left;
	width: 200px;
	height: 200px;
	/*background-color: pink;*/
}
div.example {
  width: 100px;
  height: 100px;
  background-color: red;
  overflow: scroll;
}
.modal-content{
	/*background-color: rgba(255, 255, 255, 0.1)!important;*/
}
.select-payment{
	margin: 10px;
	/*color: #202020;*/
}
/*============ボタン類のCSS==============*/
/*この住所に送るボタンのスタイル*/
.button-style{
	margin:20px 0px 10px 200px;
	border: solid 1px;
	/*color: rgba(255, 255, 255, 0.8);*/
	padding: 0 20px;
	text-align: center;
	border-radius: 5px;
	/*background-color: #202020;*/
	line-height: 2.5;
}