// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





/*----------------商品一覧-------------------*/

.main-visual{
	/*background-color: silver;*/
	background-image: url(product-index.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 400px;
	display: block;
	/*position: fixed;*/
	/*background-color: darkred;*/
	/*z-index: -1;*/
}
.main-box{
	background-color: #202020;
	width:100%;
	height: 1500px;
	/*overflow: scroll;*/

}
.sort-box{
	width: 100%;
	height: 100px;
	background-color: silver;
}
.products-box{
	width:95%;
	margin: 0 auto;
	background-color: white;
	display: flex;
	/*flex-direction: row;*/
	justify-content: center;
	flex-wrap: wrap;
}
.products{
	width: 200px;
	/*height: 200px;*/
	background-color: silver;
	margin: 15px;
	justify-content: flex-start;
}
.products-img{
	width: 200px;
	height: 200px;
	/*background-color: orange;*/
}
.products-info{
	width: 100%;
	height: 150px;
	background-color: darkorange;
}
.pagination{
	width: 95%;
	margin: 0 auto;
	text-align: center;
}


/*----------商品詳細-------------*/

.box{
	padding-top: 50px;
}