// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





/*----------------商品一覧-------------------*/
*{
	/*color: white;*/
}

.main-visual{
	/*background-color: silver;*/
	/*background-image: url(product-index.jpg);*/
	background-image: url(top-page-img3.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 400px;
	display: block;
	/*position: fixed;*/
	/*background-color: darkred;*/
	/*z-index: -1;*/
}
.main-box{
	/*background-color: black;*/
	width:100%;
	height: 1500px;
	/*overflow: scroll;*/

}
.sort-box{
	width: 100%;
	height: 100px;
	/*background-color: silver;*/
}
.products-box{
	width:95%;
	margin: 0 auto;
	/*background-color: white;*/
	display: flex;
	/*flex-direction: row;*/
	justify-content: center;
	flex-wrap: wrap;
}
.products{
	width: 200px;
	/*height: 200px;*/
	/*background-color: silver;*/
	margin: 15px;
	justify-content: flex-start;
}
.products-img{
	width: 200px;
	height: 200px;
	box-shadow: 0px 0px 40px 5px rgba(255, 255, 255, 0.4);
	/*background-color: orange;*/
}
.products-info{
	width: 100%;
	height: 150px;
	/*background-color: darkorange;*/
}
.pagination{
	width: 95%;
	margin: 0 auto;
	text-align: center;
}


/*----------商品詳細-------------*/

.box{
	padding-top: 50px;
}
.product-show{
	width: 100%;
}
.product-show-box{
	width: 95%;
	margin: 0 auto;
}
.product-show-image-info-cart-box{
	display: flex;
    flex-direction: row;
    margin-top: 40px;
    font-size: 20px;
}
.product-info-box{
	margin: 70px;
}
.product-add-favorite{
	margin-top: 30px;
}
.product-add-cart-box{
	margin-top: 70px;
}
.product-disc-music-box{
	width: 70%;
	margin: 30px auto;
	font-size: 17px;
}
.product-disc-data{
	margin: 20px;
}

td.product-music-info{
	padding: 5px 70px;
}

td.product-music-data{
	padding: 0 70px;
}
