// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/







/*---------------top_page----------------*/
/*黒からフェードインのアニメーション*/

.fade-in {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0;
        background-color: black;
    }
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;
        background-color: black;
    }
    100% {opacity: 1}
}
/*-------------------*/



/*トップページの背景*/
.background-image{
	/*background-image: url('top-image-girl2.jpg');*/
	width: 100%;
	height: 1000px;
	/*position: fixed;*/
    background: linear-gradient(to right, rgba(0, 0, 0, 1.0), transparent), url('top-image-girl2.jpg');
    background-attachment: fixed;
    background-size: cover;
    /*background-color: black;*/

}
.img{
	width: 100%;
}
.background-image p{
	/*position: absolute;*/
	/*position: fixed;*/
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
/*	top: 50%;
	left: 50%;*/
	font-size: 60px;
}
.top-search-form{
	padding-top: 200px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	/*position: absolute;*/
	/*top: 50%;
	left: 50%;*/
}
dl.search{
    position:relative;
    background-color:#fff;
    border:1px solid #aaa;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius:6px;
    -ms-border-radius:6px;
    border-radius:6px;
}
dl.search dt{
    margin-right:40px;
    padding:8px 0 8px 8px;
}
dl.search dt input{
    width:100%;
    height:24px;
    line-height:24px;
    background:none;
    border:none;
}
dl.search dd{
    position:absolute;
    top:0;
    right:0;
}
dl.search dd button{
    display:block;
    padding:10px;
    background:none;
    border:none;
}
dl.search dd button span{
    display:block;
    width:20px;
    height:20px;
    background:url('search.png') no-repeat scroll 0 0;
}