<div class="nested-fields form-inline">
    <div class="form-group">
    	<%= f.number_field :track_number, placeholder:"曲順", class: 'form-inline', :size => "20" %>
    	<%= f.text_field :name, placeholder:"曲名", class: 'form-inline', :size => "50" %>
    	<%= f.text_field :bpm, placeholder:"BPM", class: 'form-inline', :size => "20" %>
    	<%= f.text_field :duration, placeholder:"曲長", class: 'form-inline', :size => "20" %>
  	</div>
  	<div id="links">
  	</div>
</div>