<%= render 'admins/users/header'  %>

  <div class="edit-product">
  <h1>商品情報編集</h1>

    <div class="container">

      <%= form_for(@product, url: { action: "update"}) do |f| %>

      <%= render :partial => 'admins/products/form', :locals => {:f => f} %>

      <% end %>

    </div>
  </div>