<%= render 'admins/users/header'  %>

  <div class="new-product">
  <h1>新規商品追加</h1>

    <div class="container">

        <%= form_for(@product, url: { action: "new" }) do |f| %>

        <%= render :partial => 'admins/products/form', :locals => {:f => f} %>

        <% end %>

    </div>
  </div>
