<main>
	<div class="main-visual">
		<p>検索バーが入ります</p>
		<!-- 検索フォーム -->
	</div>
	<div class="main-box">
		<div class="sort-box">
			<p>ここに並び順変えるセレクターが入ります。上下左右中央揃え。</p>
		</div>
		<!-- 並び順 -->
		<div class= "products-box">
			<div class="products">
				<p class="produts-img">ジャケット画像</p>
				<p class="products-info">商品詳細</p>
			</div>
			<div class="products">
				<p class="produts-img">ジャケット画像</p>
				<p class="products-info">商品詳細</p>
			</div>
			<div class="products">
				<p class="produts-img">ジャケット画像</p>
				<p class="products-info">商品詳細</p>
			</div>
			<div class="products">
				<p class="produts-img">ジャケット画像</p>
				<p class="products-info">商品詳細</p>
			</div>
			<div class="products">
				<p class="produts-img">ジャケット画像</p>
				<p class="products-info">商品詳細</p>
			</div>
			<div class="products">
				<p class="produts-img">ジャケット画像</p>
				<p class="products-info">商品詳細</p>
			</div>
			<div class="products">
				<p class="produts-img">ジャケット画像</p>
				<p class="products-info">商品詳細</p>
			</div>
			<div class="products">
				<p class="produts-img">ジャケット画像</p>
				<p class="products-info">商品詳細</p>
			</div>
			<div class="products">
				<p class="produts-img">ジャケット画像</p>
				<p class="products-info">商品詳細</p>
			</div>
			<div class="products">
				<p class="produts-img">ジャケット画像</p>
				<p class="products-info">商品詳細</p>
			</div>
					</div>

	</div>

	<!-- 	ページング　　 -->
</main>
<footer>
	<!-- SNS icon -->
</footer>