<h2>退会をご希望の方</h2>

  <p>退会すると、これまでのデータはすべて削除されます。<br>
     (※商品の発送が完了していないお客様は退会できません。)<br>
     よろしいですか？
  </p>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
