
<section class="view-registration-box">

    <div class="mail-icon">
	    <div class="">
	    	<i class="fa fa-sign-in"></i>
	    </div>
	</div>

	<div class="main-box">
    	<p class="page-title">退会をご希望の方</p><br>
 		<p>退会すると、これまでのデータはすべて削除されます。<br>
           (※商品の発送が完了していないお客様は退会できません。)<br>
           よろしいですか？
        </p>
		<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

	    <%= link_to "Back", :back %>
	</div>

</section>
